@import url(fonts.css);

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--bold);
    margin: 0;
    height: 1500px
}

.container {
    max-width: 800px;
    margin: auto;
}

.bayan__title {
    font-size: 3.5rem;
    margin: 0;
    margin-top: 3rem;
    padding: 2rem 0  1.5rem 2rem;
    font-weight: 600;
}

.item-panel__label{
    width: 95%;
    margin: auto;
    border-top: 0.2rem solid #f1f1f1;
    border-radius: 0.2rem;
    padding: 2rem;
    font-size: 1.8rem;
    display: block;
    cu
}

.item-panel__input {
    display: none;
}

.item__panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item-panel__icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
}

.item-panel:has(input:checked) ~ .item-image .item-image__meme {
    max-height: 40rem;
    opacity: 1;
}

.item-panel:has(input:checked) .item-panel__icon {
    transform: rotate(-45deg);
    transition: 0.5s;
}

.item-image__meme {
    display: block;
    padding: 2rem 0 2rem 0;
    width: 70%;
    max-height: 0;
    margin: 0 auto;
    opacity: 0;
    transition: max-height 1s cubic-bezier(0, 1, 0, 1), opacity 0.8s;
}

.item-panel__label:hover .item-image__meme {
    max-height: 40rem;
    opacity: 1;
}

.item-panel__label:hover .item-panel__icon {
    transform: rotate(-45deg);
    transition: 0.5s;
}